@page
@model QueueTopic.Sender.Pages.EmployeeManagementModel

@{
    ViewData["Title"] = "Employee Management";
}


<h2>Employee Management</h2>
<br />

@*@if(Model.hasData)
{
    <h6>Hello, @Model.firstName @Model.lastName</h6>
    <p>We received your following message correctly: @Model.message</p>
}*@

<div class="container">
    <form method="post">
        <label for="fname">First Name</label><br />
        <input type="text" id="fname" name="firstname" /><br /> <br />

        <label for="lname">Last Name</label><br />
        <input type="text" id="lname" name="lastname" /><br /> <br />

        <input type="submit" value='Submit' /><br />
    </form>
</div>